@(items: List[Item],isLogged: Long,name: String,search: Form[InventoryItem])


@import models.InventoryItem
@import play.data.Form
@import views.html.helper._

<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Pet accesory shop!</title>

      <!-- Bootstrap core CSS -->
    <link href='@routes.Assets.at("css/bootstrap.min.css")' rel="stylesheet">

      <!-- Custom styles for this template -->
    <link href='@routes.Assets.at("css/shop-homepage.css")' rel="stylesheet">

  </head>

  <body>

      <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container">
        @if(isLogged>0){
          <a class="navbar-brand" href="@routes.HomeController.indexLogged(isLogged)">Love for pets is what connects us</a>
        }else{
          <a class="navbar-brand" href="@routes.HomeController.index()">Love for pets is what connects us</a>
        }
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
              <li>
              @helper.form(action = routes.HomeController.searchPost(isLogged)) {
                @helper.inputText(search("name"))
                <button type="submit" type="submit" name="submit_param" value="submit_value" class="btn btn-primary btn-sm" style="margin-bottom: 4px;">
                  Search</button>
              }
              </li>

            @if(isLogged>0){
              <li class="nav-item">
                <a class="nav-link" href="#">Hello @name</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="@routes.HomeController.index()">Logout</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="@routes.HomeController.indexLogged(isLogged)">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="@routes.ShoppingCart.index(isLogged)">Cart</a>
              </li>
            }else {
              <li class="nav-item">
                <a class="nav-link" href="@routes.HomeController.register()">Register</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="@routes.HomeController.login()">Login</a>
              </li>
              <li class="nav-item active">
                <a class="nav-link" href="@routes.HomeController.index()">Home
                  <span class="sr-only">(current)</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="@routes.HomeController.login()">Cart</a>
              </li>
            }


          </ul>
        </div>
      </div>
    </nav>

      <!-- Page Content -->
    <div class="container">

      <div class="row">

        <div class="col-lg-3">

          <h1 class="my-4">Pet accesory</h1>
          <div class="list-group">
            @if(isLogged>0) {
              <a href='@routes.HomeController.indexLogged(isLogged)' class="list-group-item">All</a>
            }else{
              <a href='@routes.HomeController.index()' class="list-group-item">All</a>
            }
            <a href='@routes.HomeController.cat("Dog",isLogged)' class="list-group-item">Dogs</a>
            <a href='@routes.HomeController.cat("Cat",isLogged)' class="list-group-item">Cats</a>
            <a href='@routes.HomeController.cat("Small animals",isLogged)' class="list-group-item">Small animals</a>
          </div>

        </div>
          <!-- /.col-lg-3 -->

        <div class="col-lg-9">

          <div id="carouselExampleIndicators" class="carousel slide my-4" data-ride="carousel">
            <ol class="carousel-indicators">
              <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
              <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
              <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner" role="listbox">
              <div class="carousel-item active">
                <img class="d-block img-fluid" src="http://placehold.it/900x350" alt="First slide">
              </div>
              <div class="carousel-item">
                <img class="d-block img-fluid" src="http://placehold.it/900x350" alt="Second slide">
              </div>
              <div class="carousel-item">
                <img class="d-block img-fluid" src="http://placehold.it/900x350" alt="Third slide">
              </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
          </div>

          <div class="row">
                @for(item <- items){
                <div class="col-lg-4 col-md-6 mb-4">

                   <div class="card h-100">
                        <a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>
                     @if(isLogged>0){
                     <form method="post" action="@routes.ShoppingCart.addToCart(isLogged,item.id)" class="inline">
                       <div class="card-body">
                         <h4 class="card-title">

                           <input type="hidden" name="extra_submit_param" value="extra_submit_value">
                            <a href="@routes.HomeController.indexLogged(isLogged)">@item.name</a>

                         </h4>
                         <h5>$@item.price</h5>
                         <p class="card-text">@item.description</p>
                       </div><div class="card-footer clearfix" style="padding-bottom: 10px;"><button style="float: right;" type="submit" name="submit_param" value="submit_value" class="btn btn-primary">Add to cart</button></div>
                     </form>
                     }else{
                       <form method="get" action="@routes.HomeController.login()" class="inline">
                         <div class="card-body">
                           <h4 class="card-title">

                             <input type="hidden" name="extra_submit_param" value="extra_submit_value">

                             @item.name

                           </h4>
                           <h5>$@item.price</h5>
                           <p class="card-text">@item.description</p>
                         </div><div class="card-footer clearfix" style="padding-bottom: 10px;"><button style="float: right;" type="submit" name="submit_param" value="submit_value" class="btn btn-primary">Add to cart</button></div>
                       </form>
                     }
                    </div>
                </div>
            }

          </div>
            <!-- /.row -->

        </div>
          <!-- /.col-lg-9 -->

      </div>
        <!-- /.row -->

    </div>
      <!-- /.container -->

      <!-- Footer -->
    <footer class="py-5 bg-dark">
      <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; Dark Magic 2017</p>
      </div>
        <!-- /.container -->
    </footer>

      <!-- Bootstrap core JavaScript -->
    <script src='@routes.Assets.at("javascripts/jquery.min.js")'></script>
    <script src='@routes.Assets.at("javascripts/bootstrap.bundle.min.js")'></script>

  </body>

</html>
