@import helper._
@(items : List[Item])
<!DOCTYPE HTML>
<html>
<head>
<title>The Pet Shop</title>
<link href="@routes.Assets.versioned("css/bootstrap.css")" rel="stylesheet" type="text/css" media="all">
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="@routes.Assets.versioned("js/jquery-1.11.0.min.js")" type="text/javascript"></script>
<!-- Custom Theme files -->
<link href="@routes.Assets.versioned("css/style.css")" rel="stylesheet" type="text/css" media="all">
<!-- Custom Theme files -->
        <script src="@routes.Assets.at("javascripts/jquery-2.1.4.min.js")" type="text/javascript"></script>
        <link href="@routes.Assets.at("stylesheets/footer.css")" rel="stylesheet" media="screen">
        <script src="@routes.Assets.at("javascripts/hello.js")" type="text/javascript"></script>
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
		
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Shoplist Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!--Google Fonts-->
<link href='//fonts.googleapis.com/css?family=Hind:400,500,300,600,700' rel='stylesheet' type='text/css'>
<link href='//fonts.googleapis.com/css?family=Oswald:400,700,300' rel='stylesheet' type='text/css'>
<!-- start-smoth-scrolling -->
<script type="text/javascript" src=@routes.Assets.at("js/move-top.js")"></script>
<script type="text/javascript" src="@routes.Assets.versioned("js/easing.js")"></script>
	<script type="@routes.Assets.versioned("text/javascript")">
			jQuery(document).ready(function($) {
				$(".scroll").click(function(event){		
					event.preventDefault();
					$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
				});
			});
	</script>
<!-- //end-smoth-scrolling -->
<script src="@routes.Assets.versioned("js/main.js")"></script>
<!-- the jScrollPane script -->
<script src="@routes.Assets.versioned("js/jquery.jscrollpane.min.js")" type="text/javascript" ></script>
		<script type="text/javascript" id="scroll-pane">
			$(function()
			{
				$('.scroll-pane').jScrollPane();
			});
		</script>
<!-- //the jScrollPane script -->
<script src="@routes.Assets.at("jss/simpleCart.min.js")"> </script>
<script src="@routes.Assets.versioned("js/bootstrap.min.js")"></script>

<!--header start here-->

</head>
<!--header end here-->
<!--product start here-->

<body>
<div>
            <ul>
                <li><a class="add-to-cart" href="#" data-name="Apple" data-price="1.22">Apple $1.22</a></li>
                <li><a class="add-to-cart" href="#" data-name="Banana" data-price="1.33">Banana $1.33</a></li>
                <li><a class="add-to-cart" href="#" data-name="Shoe" data-price="22.33">Shoe $22.33</a></li>
                <li><a class="add-to-cart" href="#" data-name="Frisbee" data-price="5.22">Frisbee $5.22</a></li>
            </ul>
            <button id="clear-cart">Clear Cart</button>
        </div>


        <div>
            <ul id="show-cart">
                <li>???????</li>
            </ul>
            <div>You have <span id="count-cart">X</span> items in your cart</div>
            <div>Total Cart:$<span id="total-cart"></span></div>
        </div>



                <script src="@routes.Assets.at("js/shoppingCart.js")" type="text/javascript"></script>

        <script>
            $(".add-to-cart").click(function(event){
                event.preventDefault();
                var name = $(this).attr("data-name");
                var price = Number($(this).attr("data-price"));
                shoppingCart.addItemToCart(name, price, 1);
                displayCart();
            });
            $("#clear-cart").click(function(event){
                shoppingCart.clearCart();
                displayCart();
            });
            function displayCart() {
                var cartArray = shoppingCart.listCart();
                console.log(cartArray);
                var output = "";
                for (var i in cartArray) {
                    output += "<li>"
                        +cartArray[i].name
                        +" <input class='item-count' type='number' data-name='"
                        +cartArray[i].name
                        +"' value='"+cartArray[i].count+"' >"
                        +" x "+cartArray[i].price
                        +" = "+cartArray[i].total
                        +" <button class='plus-item' data-name='"
                        +cartArray[i].name+"'>+</button>"
                        +" <button class='subtract-item' data-name='"
                        +cartArray[i].name+"'>-</button>"
                        +" <button class='delete-item' data-name='"
                        +cartArray[i].name+"'>X</button>"
                        +"</li>";
                }
                $("#show-cart").html(output);
                $("#count-cart").html( shoppingCart.countCart() );
                $("#total-cart").html( shoppingCart.totalCart() );
            }
            $("#show-cart").on("click", ".delete-item", function(event){
                var name = $(this).attr("data-name");
                shoppingCart.removeItemFromCartAll(name);
                displayCart();
            });
            $("#show-cart").on("click", ".subtract-item", function(event){
                var name = $(this).attr("data-name");
                shoppingCart.removeItemFromCart(name);
                displayCart();
            });
            $("#show-cart").on("click", ".plus-item", function(event){
                var name = $(this).attr("data-name");
                shoppingCart.addItemToCart(name, 0, 1);
                displayCart();
            });
            $("#show-cart").on("change", ".item-count", function(event){
                var name = $(this).attr("data-name");
                var count = Number($(this).val());
                shoppingCart.setCountForItem(name, count);
                displayCart();
            });
            displayCart();
        </script>
<div class="header">
	<div class="container">
		<div class="header-main">
			<div class="top-nav">
				<div class="content white">
	              <nav class="navbar navbar-default" role="navigation">
					    <div class="navbar-header">
					        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
						        <span class="sr-only">Toggle navigation</span>
						        <span class="icon-bar"></span>
						        <span class="icon-bar"></span>
						        <span class="icon-bar"></span>
					        </button>
					        
					    </div>
					    <!--/.navbar-header-->
					    <div class="dropdown">
<!-- Example split danger button -->
<li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">Dropdown</a>
            <div class="dropdown-menu" aria-labelledby="dropdown01">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </li>
					 <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					        <ul class="nav navbar-nav">
					        	   <li><a href="@routes.HomeController.products">Home</a></li>
						             <li class="dropdown">
						        	<a href="#" class="dropdown-toggle" data-toggle="dropdown">Categories <b class="caret"></b></a>
						            <ul class="dropdown-menu multi-column columns-3">
							            <div class="row">
								            <div class="col-sm-4">
									            <ul class="multi-column-dropdown">
												<li><a href="dogs">Dogs</a></li>
                                                <li><a href="cats">Cats</a></li>
                                                <li><a href="#">Other Animals</a></li>    
										            
									            </ul>
								            </div>
								           
								           
							            </div>
						            </ul>
						        </li>
						            <li class="dropdown">
						        	<a href="dogs" class="dropdown-toggle" data-toggle="dropdown">Dogs <b class="caret"></b></a>
						            <ul class="dropdown-menu multi-column columns-3">
							            <div class="row">
								            <div class="col-sm-4">
									            <ul class="multi-column-dropdown">
										            <li><a href="#">dog collars</a></li>
                                                    <li><a href="#">Dog Treats & Dog Bones</a></li>
                                                    <li><a href="#">Dry dog food</a></li> 
		                                            <li><a href="#">Dog Beds & Baskets</a></li> 
		                                            <li><a href="#">Dog Kennels, Dog Flaps & Gates</a></li> 
									            </ul>
								            </div>
								           
							            </div>
						            </ul>
						        </li>
						         <li class="dropdown">
						        	<a href="cats" class="dropdown-toggle" data-toggle="dropdown">Cats<b class="caret"></b></a>
						            <ul class="dropdown-menu multi-column columns-3">
							            <div class="row">
								            <div class="col-sm-4">
									            <ul class="multi-column-dropdown">
										            <li><a href="#">Cat Baskets & Beds</a></li>
                                                    <li><a href="#">Cat Treats & Snacks</a></li>
                                                    <li><a href="#">Cat Care & Grooming</a></li> 
		                                            <li><a href="#">Kitten Products</a></li> 
		                                            <li><a href="#">Dry Cat Food</a></li> 
									            </ul>
								            </div>
								          
							            </div>
						            </ul>
						        </li>
						        <li><a href="tiger">Tiger</a></li>
						        <li><a href="contact">Contact</a></li>
					        </ul>
					    </div>
					    <!--/.navbar-collapse-->
					</nav>
					<!--/.navbar-->
				</div>
			</div>
			<div class="header-right">
				<div class="search">
					<div class="search-text">
					    <input class="serch" type="text" value="Search" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Search';}"/>
					</div>
					<div class="cart box_1">
						<a href="checkout">
						<h3>
							<img src="@routes.Assets.at("images/cart.png")" alt=""/>
							<div class="total">
							<span class="simpleCart_total"></span></div>
							</h3>
						</a>
						<p><a href="javascript:;" class="simpleCart_empty">Empty Cart</a></p>
					</div>    
					<div class="head-signin">
						<h5><a href="http://localhost:9000/farmers/create/"><i class="hd-dign"></i>Register</a></h5>
					</div>
					<div class="head-signin">
						<h5><a href="login"><i class="hd-dign"></i>Login</a></h5>
					</div>              
                     <div class="clearfix"> </div>					
				</div>
			</div>
		 <div class="clearfix"> </div>
		</div>
	</div>
</div>
<div class="body">
	<div class="container">
		<div class="product-main">
			  <div class=" product-menu-bar">
			    	<div class="col-md-3 prdt-right">
					<div class="w_sidebar">
						<section  class="sky-form">
							<h1>Categories</h1>
							<div class="row1 scroll-pane">
								<div class="col col-4">
									<label class="checkbox"><input type="checkbox" name="checkbox" checked=""><i></i>All Animal accessories</label>
								</div>
								<div class="col col-4">								
									<label class="checkbox"><input type="checkbox" name="checkbox"><i></i>Cats</label>
									<label class="checkbox"><input type="checkbox" name="checkbox"><i></i>Dogs</label>
									<label class="checkbox"><input type="checkbox" name="checkbox"><i></i>tiger</label>			
								</div>
							</div>
						</section>
						<section  class="sky-form">
							<h2>Brand</h2>
							<div class="row1 row2 scroll-pane">
								<div class="col col-4">
									<label class="checkbox"><input type="checkbox" name="checkbox" checked=""><i></i>All Brands</label>
								</div>
								<div class="col col-4">
								    <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>Royal Canine</label>
									<label class="checkbox"><input type="checkbox" name="checkbox"><i></i>Pedigree</label>
									<label class="checkbox"><input type="checkbox" name="checkbox"><i></i>Happy Dog</label>
									<label class="checkbox"><input type="checkbox" name="checkbox"><i></i>Whiskers</label>
																	
								</div>
							</div>
						</section>
						<section class="sky-form">
							<h4>discount</h4>
								<div class="row1 row2 scroll-pane">
									<div class="col col-4">
										<label class="radio"><input type="radio" name="radio" checked=""><i></i>60 % and above</label>
										<label class="radio"><input type="radio" name="radio"><i></i>50 % and above</label>
										<label class="radio"><input type="radio" name="radio"><i></i>40 % and above</label>
									</div>
									<div class="col col-4">
										<label class="radio"><input type="radio" name="radio"><i></i>30 % and above</label>
										<label class="radio"><input type="radio" name="radio"><i></i>20 % and above</label>
										<label class="radio"><input type="radio" name="radio"><i></i>10 % and above</label>
									</div>
								</div>						
						</section>
						
					</div>
				</div>
			  </div>	
			  <div class="col-md-9 product-block">
			  @for(item<-items){
				 <div class="col-md-4 home-grid">
					<div class="home-product-main">
					   <div class="home-product-top">
					      <a href="/items/id/@item.id"><img src="@routes.Assets.at("images/noimage.jpEg")" alt="" class="img-responsive zoom-img"></a>
					   </div>
						<div class="home-product-bottom">
								<h3><a href="/items/id/@item.id">@item.name</a></h3>
								<p>@item.categorie</p>						
						</div>
						<div class="srch">
							<span>$@item.price</span>
						</div>
					</div>
				 </div>
		}
			      <div class="col-md-4 home-grid">
					<div class="home-product-main">
					   <div class="home-product-top">
					      <a href=""><img src="@routes.Assets.at("images/Capture1.PNG")" alt="" class="img-responsive zoom-img"></a>
					   </div>
						<div class="home-product-bottom">
								<h3><a href="">Smart Shopping</a></h3>
								<p>Explore Now</p>						
						</div>
						<div class="srch">
							<span>$200</span>
						</div>
					</div>
				 </div>
			      <div class="col-md-4 home-grid">
					<div class="home-product-main">
					   <div class="home-product-top">
					      <a href=""><img src="@routes.Assets.at("images/modern_pet_products_accessories_PetFancy.jpg")" alt="" class="img-responsive zoom-img"></a>
						  							 
					   </div>
						<div class="home-product-bottom">
								<h3><a href="">Smart Shopping</a></h3>
								<p>Explore Now</p>						
						</div>
						<div class="srch">
							<span>$200</span>
						</div>
					</div>
				 </div>
			     <div class="col-md-4 home-grid">
					<div class="home-product-main">
					   <div class="home-product-top">
					      <a href=""><img src="@routes.Assets.at("images/pet-supplies.jpg")" alt="" class="img-responsive zoom-img"></a>
					   </div>
						<div class="home-product-bottom">
								<h3><a href="">Smart Shopping</a></h3>
								<p>Explore Now</p>						
						</div>
						<div class="srch">
							<span>$200</span>
						</div>
					</div>
				 </div>
			      <div class="col-md-4 home-grid">
					<div class="home-product-main">
					   <div class="home-product-top">
					      <a href=""><img src="@routes.Assets.at("images/download.jpg")" alt="" class="img-responsive zoom-img"></a>
					   </div>
						<div class="home-product-bottom">
								<h3><a href="">Smart Shopping</a></h3>
								<p>Explore Now</p>						
						</div>
						<div class="srch">
							<span>$200</span>
						</div>
					</div>
				 </div>
				 
			     
			    
			      
			
			      <div class="clearfix"> </div>
			  </div>
		</div>
	</div>
</div>
</body>

<!--product end here-->
<!--footer strat here-->

<footer>
<div class="footer">
	<div class="container">
		<div class="footer-main">
			<div class="ftr-grids-block">
				<div class="col-md-3 footer-grid">
					<ul>
						<li><a href="product.html">All Animal Accessories</a></li>
						<li><a href="dog">Dogs</a></li>
						<li><a href="cat">Cats</a></li>
						<li><a href="tiger">Tiger</a></li>
						<li><a href="product.html">Other Animals</a></li>
						
					</ul>
				</div>
				<div class="col-md-3 footer-grid">
					<ul>
						<li><a href="login">Your Account</a></li>
						<li><a href="contact">Contact Us</a></li>
						<li><a href="product">Store Locator</a></li>
						
					</ul>
				</div>
				
				<div class="col-md-3 footer-grid-icon">
					<ul>
						<li><a href="#"><img src="@routes.Assets.at("images/ftr-icons.png")"><span class="u-tub"> </span></a></li>
					</ul>
					<form>
					<input class="email-ftr" type="text" value="Newsletter" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Newsletter';}">
					<input type="submit" value="Submit"> 
					</form>
				</div>
		    <div class="clearfix"> </div>
		  </div>
		  <div class="copy-rights">
		   
		   </div>
		</div>
	</div>
</div>
<!--footer end here-->
</footer>
</html>