<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<title>Wiredeiki App </title>
	<meta name="description" content="Wiredwiki App">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

	
</head>

	

<body>

</..Navbar..>
<nav class= "navbar navbar-inverse navbar-fixed-top" id="my-navbar">
<div class="container">
<div class="navbar-header">
<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-
collapse">
<span class="icon-bar"></span>
<span class="icon-bar"></span>
<span class="icon-bar"></span>
<span class="icon-bar"></span>
</button>

<a href="" class="navbar-brand">Wiredwiki</a>
</div>
</div class="collapse navbar-collapse"id=navbar-collapse>
<ul class="nav navbar-nav">
<li><a href="#feedback">Feedback</a>
<li><a href="#gallery">Gallery</a>
<li><a href="#features">Features</a>
<li><a href="#faq">Faq</a>
<li><a href="#contact">Contact	Us</a>
</ul>
</div>
</div>
</nav>
</div class="jumbotron">
<div class="container">
<h1>Wiredwiki App</h1>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
Aenean eu purus vitae massa egestas vehicula a sed ligula. 
Cras ultricies et enim sit amet hendrerit. 
Nulla convallis nibh sit amet </p>
</div>
</div>

<script src=https://code.jquery.com/jquery-3.2.1.min.js></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</body>	
</html>