<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<title> The Pet Shop </title>
	<meta name="description" content="The Pet Shop">
	<!-- Latest compiled and minified CSS -->
	 <!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
</head>

	<style>
	body{
		padding-top: 40px;
	}
	</style>

<body data-spy="scroll" data-target="#my-navbar">

  <!-- Navbar -->
  	<nav class="navbar navbar-inverse navbar-fixed-top" id="my-navbar">
  		<div class="container">
  			<div class="navbar-header">
  				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
  					<span class="icon-bar"></span>
  					<span class="icon-bar"></span>
  					<span class="icon-bar"></span>
  					<span class="icon-bar"></span>
  				</button>

  				<a href="" class="navbar-brand">The Pet Shop</a>
  			</div><!-- Navbar Header-->
  			<div class="collapse navbar-collapse" id="navbar-collapse">
  				
  			<a href="" class="btn btn-warning navbar-btn navbar-right">Log in/Register</a>
  				<ul class="nav navbar-nav">
				<li><a href="#Shop by brand">ShopByBrand</a> 
				<li><a href="#Shop by pet">ShopBypet</a> 
  					<li><a href="#feedback">Feedback</a> 
  					<li><a href="#gallery">Gallery</a> 
  					<li><a href="#sale">Sale</a> 
  					<li><a href="#faq">Faq</a> 
					<li><a href="#contact">ContactUs</a> 
					<li><a href="#help">Help</a> 
  					

  				</ul>
  			</div>
  		</div><!-- End Container-->
  	</nav><!-- End navbar -->

  	<!-- jumbotron-->

  	<div class="jumbotron">
  		<div class="container text-center">
  			<h1>The Pet Shop</h1>
  			<p>Time spent on your pet is never wasted </p>

  			<div class="btn-group">
  				
  				<a href="" class="btn btn-lg btn-default">Visit store</a>
  				<a href="" class="btn btn-lg btn-warning">Spread the word</a>
  			</div>
  		</div><!-- End container -->
  	</div><!-- End jumbotron-->

  	<!-- Feedback-->
  	<div class="container">
  		<section>
  			<div class="page-header" id="feedback">
  				<h2>Feedback.<small> Check out the Feedback</small></h2>
  			</div>

  			<div class="row">
  				<div class="col-md-4">
  					<blockquote>
  						<p>Overall I found your store easy to navigate and for the most part professional looking.  I liked how the prominent your privacy policy, return policy, etc. were.  That really added to the trustworthiness of your store.  

However, I didn't like being prompted to sign up to your newsletter before spending any time on your site.  If I had a few minutes to look around I would be more likely to sign up.

I think your blog from a dog's perspective is a really cute idea.  The way it is written however could be improved upon.  From working as a freelance writer I learned that it is better to have many short paragraphs for online content.  Make it scannable.  I like this article for advice on writing great blog post: https://problogger.com/how-to-write-great-blog-content/

I'm far from a professional, being new at running an online store, but I think it looks pretty good.  :) </p>
  						<footer>John doe</footer>
  					</blockquote>
  				</div>
  				<div class="col-md-4">
  					<blockquote>
  						<p>Petshop also offers free shipping on select items when your cart totals at least $49 worth of merchandise. Just be sure to check products for the shipping discount message before adding them to your cart.</p>
  						<footer>John doe</footer>
  					</blockquote>
  				</div>
  				<div class="col-md-4">
  					<blockquote>
  						<p>The Pet Shop is full of products with wonderful savings of up to 40 percent off on everything from toys to treats to grooming supplies.</p>
  						<footer>John doe</footer>
  					</blockquote>
  				</div>
  			</div><!-- End row -->
  		</section>
  	</div><!--End Container-->

<!-- call to action -->
	<section>
		<div class="well">
			<div class="container text-center">
				<h3>Subscribe for more</h3>
				<p>Enter your name and email</p>

				<form action="" class="form-inline">
					<div class="form-group">
						<label for="subscription">Subscribe</label>
						<input type="text" class="form-control" id="subscription" placeholder="Your name">
					</div>
					<div class="form-group">
						<label for="email">Email address</label>
						<input type="text" class="form-control" id="email" placeholder="Enter your Email">
					</div>
					<button type="submit" class="btn btn-default">Subscribe</button>
					<hr>
				</form>


			</div><!-- end Container-->

		</div><!-- end well-->
	</section><!-- Call to action -->

<!-- Gallery -->
	<div class="container">
		<section>
			<div class="page-header" id="gallery">
  				<h2>Gallery.<small>  Gallery</small></h2>
  			</div>

  			<div class="carousel slide" id="screenshot-carousel" data-ride="carousel">
  				<ol class="carousel-indicators">
  					<li data-target="#screenshot-carousel" data-slide-to="0" class="active"></li>
  					<li data-target="#screenshot-carousel" data-slide-to="1"></li>
  					<li data-target="#screenshot-carousel" data-slide-to="2"></li>
  					<li data-target="#screenshot-carousel" data-slide-to="3"></li>
  				</ol>
  				<div class="carousel-inner">
  					<div class="item active">
  						<img src="catsdogs.jpg" alt="Text of the image">
  						<div class="carousel-caption">
  							
  							
  						</div>
  					</div>
  					<div class="item">
  						<img src="download.jpg" alt="Text of the image">
  						<div class="carousel-caption">
  							
  						</div>
  					</div>
  					<div class="item">
  						<img src="modern_pet_products_accessories_PetFancy.jpg" alt="Text of the image">
  						<div class="carousel-caption">
  							<h3>Pet Products</h3>
  							
  						</div>
  					</div>
  					<div class="item">
  						<img src="pet-supplies.jpg" alt="Text of the image">
  						<div class="carousel-caption">
  							<h3>Pet supplies</h3>
  							
  						</div>
  					</div>

  				</div><!-- End Carousel inner -->
  				<a href="#screenshot-carousel" class="left carousel-control" data-slide="prev">
  					<span class="glyphicon glyphicon-chevron-left"></span>
  				</a>
  				<a href="#screenshot-carousel" class="right carousel-control" data-slide="next">
  					<span class="glyphicon glyphicon-chevron-right"></span>
  				</a>
  			</div><!-- End Carousel -->

		</section>
	</div>

<!-- features -->
	<div class="container">
		<section>
			<div class="page-header" id="features">
  				<h2>Features.<small> Some of the features</small></h2>
  			</div><!-- End Page Header -->

  			
  				<div class="col-sm-4">
  					<img src="imac.jpg" class="img-responsive" alt="image">
  				</div>
  			</div><!-- End row -->
  			<div class="row">
  				<div class="col-sm-8">
  					<h3>Best Sellers</h3>
					<img src="s.jpg" class="img-responsive" alt="image">
					<img src="unnamed.jpg" class="img-responsive" alt="image">
					
  					
					
  				</div>
  				
  			</div>
  			<div class="row">
  				<div class="col-sm-8">
  					<h3>Whats New!</h3>
  					<img src="ww.jpg" class="img-responsive" alt="image">
					<img src="wwq.jpg" class="img-responsive" alt="image">
  				</div>
  				
  			</div>

  			<hr>

  			

		</section>
	</div><!-- End Container -->

<!-- Faq -->

    <div class="container">
      <section>
        <div class="page-header" id="faq">
          <h2>FAQ.<small> Engaging with consumers.</small></h2>
        </div><!-- End Page Header -->

        <div class="panel-group" id="accordion">
          <div class="panel panel-default">
            <div class="panel-heading">
              <div class="panel-title">
                <a href="#collapse-1" data-toggle="collapse" data-parent="#accordion">
                  Question one?
                </a>
              </div><!-- End panel title -->
              <div id="collapse-1" class="panel-collapse collapse in">
                <div class="panel-body">
                  
                </div>
              </div><!-- End Panel collapse -->
            </div>
          </div>

          <div class="panel panel-default">
            <div class="panel-heading">
              <div class="panel-title">
                <a href="#collapse-2" data-toggle="collapse" data-parent="#accordion">
                  Question Two?
                </a>
              </div><!-- End panel title -->
              <div id="collapse-2" class="panel-collapse collapse">
                <div class="panel-body">
                  
                </div>
              </div><!-- End Panel collapse -->
            </div>
          </div>

          <div class="panel panel-default">
            <div class="panel-heading">
              <div class="panel-title">
                <a href="#collapse-3" data-toggle="collapse" data-parent="#accordion">
                  Question Three?
                </a>
              </div><!-- End panel title -->
              <div id="collapse-3" class="panel-collapse collapse">
                <div class="panel-body">
                  
                </div>
              </div><!-- End Panel collapse -->
            </div>
          </div>
        </div><!-- End panel group -->

      </section>
    </div><!-- End container -->


<!-- Contact -->

  <div class="container">
    <section>
      <div class="page-header" id="contact">
          <h2>Contact Us.<small> Contact us for more.</small></h2>
        </div><!-- End Page Header -->

        <div class="row">
          <div class="col-lg-4">
            <p>Send us a message, or contact us from the address below</p>


            <address>
              <strong>The Pet Shop .</strong></br>
                wybrzeże Stanisława Wyspiańskiego 27, 50-370 Wrocław</br>
              
            </address>
          </div>
          
          <div class="col-lg-8">
            <form action="" class="form-horizontal">
              <div class="form-group">
                <label for="user-name" class="col-lg-2 control-label">Name</label>
                <div class="col-lg-10">
                  <input type="text" class="form-control" id="user-name" placeholder="Enter you name">
                </div>
              </div><!-- End form group -->

              <div class="form-group">
                <label for="user-email" class="col-lg-2 control-label">Email</label>
                <div class="col-lg-10">
                  <input type="text" class="form-control" id="user-email" placeholder="Enter you Email Address">
                </div>
              </div><!-- End form group -->

              <div class="form-group">
                <label for="user-url" class="col-lg-2 control-label">Your Website</label>
                <div class="col-lg-10">
                  <input type="text" class="form-control" id="user-email" placeholder="If you have Any.">
                </div>
              </div><!-- End form group -->

              <div class="form-group">
                <label for="user-message" class="col-lg-2 control-label">Any Message</label>
                <div class="col-lg-10">
                  <textarea name="user-message" id="user-message" class="form-control" 
                  cols="20" rows="10" placeholder="Enter your Message"></textarea>
                </div>
              </div><!-- End form group -->

              <div class="form-group">
                <div class="col-lg-10 col-lg-offset-2">
                  <button type="submit" class="btn btn-primary">Submit</button>
                </div>
              </div>

             

            </form>
          </div>
        </div><!-- End the row -->

    </section>
  </div>

<!-- Footer -->

    <footer>
      <hr>
        <div class="container text-center">
        <h3>Subscribe for more offers</h3>
        <p>Enter your name and email</p>

        <form action="" class="form-inline">
          <div class="form-group">
            <label for="subscription">Subscribe</label>
            <input type="text" class="form-control" id="subscription" placeholder="Your name">
          </div>
          <div class="form-group">
            <label for="email">Email address</label>
            <input type="text" class="form-control" id="email" placeholder="Enter your Email">
          </div>
          <button type="submit" class="btn btn-default">Subscribe</button>
          
        </form>

        <hr>
        <ul class="list-inline">
          <li><a href="http://www.twitter.com/wiredwiki">Twitter</a></li>
          <li><a href="http://www.facebook.com/askorama">Facebook</a></li>
          <li><a href="http://www.youtube.com/wiredwiki">YouTube</a></li>
        </ul>

        <p>&copy; Copyright @ 2017</p>

      </div><!-- end Container-->
      

    </footer>

	<script src="http://code.jquery.com/jquery-2.1.1.min.js"></script>
	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
</body>	
</html>